<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- <div class="navbar-header"> -->
    <!--   <a class="navbar-brand" href="/">lgilfandino</a> -->
    <!-- </div> -->
    <ul class="nav navbar-nav">
      {% for item in site.navigation %}
      {% assign path_no_idx = page.url | replace: "index.html", "" | replace: "index.md", "" %}
      <li {% if path_no_idx == item.link %}class="active navbar-li"{% else %}class="navbar-li"{% endif %}>
        <a href="{{ item.link }}">{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
